.colorChanger {
  width: 550px;
  height: 250px;
  margin: 50px;
  border-radius: 10px ;
  border: 5px solid black;
}

.dropDown {
  margin: 50px;
  text-align: center;
  width: 300px;
}

.heading {
  margin: 50px;
}